/* header */
header {
    background-color: #ffffff;
    padding: 7px;
}

.hidden-header {
    display: none;
}

.header-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff; /* Cor de fundo desejada */
    padding: 7px; /* Alterado o valor do padding para 7px */
    z-index: 999; /* Certifique-se de que está na parte superior */
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav li {
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: #000000;
}
  
/* CARROSSEL DE ITENS */

.mostruario-container{
    display: flex;
}
   
.item {
    background-color: transparent;
    min-width: 300px;
}
   
.item img {
    max-width: 100%;
    height: auto;
}

/* Texto sob foto */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


.Novidade {
    background: #f0f0f0; /* Cor de fundo para a seção, pode ser ajustada conforme desejado */
}

.novi-container {
    position: relative;
    text-align: center;
    margin-top: 0;
}

.fotodump {
    position: relative;
    display: inline-block;
}

.fotodump img {
    display: block;
    width: 100%;
    height: auto;
}

.fotodump h1 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: end;
    position: absolute;
    top: 10px; /* Ajuste a posição vertical do texto para 10px para o canto superior */
    left: 10px; /* Ajuste a posição horizontal do texto para 10px para o canto esquerdo */
    color: rgb(255, 255, 255); /* Cor do texto */
    padding: 10px; /* Espaçamento interno do texto */
    font-size: 50px;
    font-weight: bold;
}



